<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar-user.ejs') %>

    <div class="container-fluid">
        <h1>Welcome <%= users.username %> </h1>

        <div class="row mb-2">
            <div class="col-10">
                <select class="form-control" id="selectYear" style="width: 100px;">
                    <option value="all">All year</option>
                    <% year.forEach(element => { %>
                    <option value="<%= element.year %>"><%= element.year %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="col-2">
                <button id="btnAdd" type="button" class="btn btn-success float-right">Add</button>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for( let index = 0; index < post.length; index++ ) { %>
                    <tr>
                        <td><%= index+1 %> </td>
                        <td><%= post[index].title %> </td>
                        <td><%= post[index].detail %> </td>
                        <td><%= post[index].year %> </td>
                        <td>
                            <button type="button" class="btn btn-danger btnDelete" blogID="<%= post[index].blogID %>">Delete</button>
                            <button type="button" class="btn btn-warning btnEdit">Edit</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
       
        <!-- Modal -->
        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="txtTitle" placeholder="Title" class="form-control">
                        <!-- <input type="text" id="txtDetail" placeholder="Detail" class="form-control"> -->
                        <textarea id="txtDetail" cols="30" rows="5" placeholder="Detail" class="form-control mt-2"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="btnModalSave" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

    <script src="/scripts/js/blog.js"></script>
</body>
</html>